<div class="scrollBelow">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Listing">
      <ng-template matTabContent>
        <div class="flex-container2 scrollBelowNavBar my-3">
          <app-card-post-user-asset-v2
            *ngFor="let card of listing$ | async"
            [card]="card"
            [user]="user"
            (detailPosting)="onDetailPosting($event)"
            (location)="onLocation($event)"
            (deleteListing)="onDeleteListing($event)"
          >
          </app-card-post-user-asset-v2>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Likes">
      <ng-template matTabContent>
        <div class="flex-container2 scrollBelowNavBar my-3">
          <app-card-post-v2
            *ngFor="let card of likes$ | async"
            [card]="card"
            [user]="user"
            (detailPosting)="onDetailPosting($event)"
            (location)="onLocation($event)"
            (updateLike)="onUpdateLike($event)"
          >
          </app-card-post-v2>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
